asn1crypto==1.2.0
attrs==19.3.0
certifi==2019.9.11
cffi==1.13.0
chardet==3.0.4
Click==7.0
cryptography==2.7
dnspython==1.16.0
eventlet==0.25.1
Flask==1.1.1
Flask-Session==0.3.1
Flask-SocketIO==4.2.1
gevent==1.4.0
gevent-websocket==0.10.1
greenlet==0.4.15
gunicorn==19.5.0
idna==2.8
itsdangerous==1.1.0
jellyfish==0.7.2
Jinja2==2.10.3
lib50==2.0.0
MarkupSafe==1.1.1
monotonic==1.5
pexpect==4.7.0
ptyprocess==0.6.0
pycparser==2.19
python-engineio==3.10.0
python-socketio==4.3.1
PyYAML==5.1.2
requests==2.22.0
six==1.12.0
submit50==3.0.2
termcolor==1.1.0
urllib3==1.25.6
virtualenv==16.7.5
Werkzeug==0.16.0
